    <h1>Edit Page </h1>

    <%= form_for @assignment  do |f| %>        
   <%= f.collection_select :course_id, Course.all, :id, :name, prompt: true %></h4>
     <div>
           <%= f.label :name %>
            <%= f.text_field :name %> <br>
           </div>
            <div>
                <%= f.label :completed, 'Completed?' %>
                <%= f.check_box :completed %> <br>

                <%= f.label :due, 'Due Date' %>
                <%= f.date_field :due %> <br>
            </div>
            <%= f.label :comment, 'Comments/Questions' %>
            <%= f.text_area :comment %> <br>
            
            <%= f.submit button_name %>
            <% end %>