   <div class="title-container">
    <h1>Edit Page </h1>
    </div>
    
  <%= render partial: "assignments/form", locals: {assignment: @assignment, button_name: "Edit Assignment"} %>


  <!-- <%= form_for([current_user, @assignment])   do |f| %>        
  <h3>Update Subject
   <%= f.collection_select :course_id, Course.all, :id, :name, prompt: true %></h4>
     </h3>
           <%= f.label :name, 'Assingment Name: ' %>
            <%= f.text_field :name %> <br>
                              
<h3>Completed? <%= f.select :completed, [ 'yes','no' ], :prompt => 'Select One' %></h3> 


                <%= f.label :due, 'Due Date' %>
                <%= f.date_field :due %> <br><br>
         

            <%= f.label :comment, 'Comments/Questions' %>
            <%= f.text_area :comment %> <br> <br>
            
            <%= f.submit 'Update Assignment'  %>
            <% end %> -->
            