    <h1>Edit Page </h1>
   <%= form_for([current_user, @assignment])   do |f| %>        
   <%= f.collection_select :course_id, Course.all, :id, :name, prompt: true %></h4>
     <div>
           <%= f.label :name %>
            <%= f.text_field :name %> <br>
           </div>
            <div>
                              
     <h3>Completed? <%= f.select :completed, [ 'yes','no' ], :prompt => 'Select One' %>
</h3> 

                <%= f.label :due, 'Due Date' %>
                <%= f.date_field :due %> <br>
            </div>
            <%= f.label :comment, 'Comments/Questions' %>
            <%= f.text_area :comment %> <br>
            
            <%= f.submit 'Update Assignment'  %>
            <% end %>
            