<div class="title-container">
<h1><%= current_user.first %> New Assignment </h1>
</div>

 <%= render partial: "assignments/form", locals: {assignment: @assignment, button_name: "New Assignment"} %>


<!-- <div class="title-container">
    <h1><%= current_user.first %> New Assignment </h1>
</div>

<%= form_for ([current_user, @assignment]) do |f| %>        
  <h3>Select Your Assignment Subject</h3>
  
 <h5><%= f.collection_select :course_id, Course.all, :id, :name, prompt: true %></h5>
           <div class="form-group">
                <%= f.label :name %>
                <%= f.text_field :name, class: "form-control" %><br>
           </div>
                 
     <h3>Completed? <%= f.select :completed, [ 'yes','no' ], :prompt => 'Select One' %> <br></h3> 
        <div class="form-group">
            <%= f.label :due, 'Due Date' %>
            <%= f.date_field :due, class: "form-control" %><br>
        </div>
        <div class="form-group">
            <%= f.label :comment, 'Comments/Questions' %>
            <%= f.text_area :comment, class: "form-control" %><br>
            </div>
            <div class="actions">
                <%= f.submit 'Add Assignment', class: "btn btn-primary" %>
            </div>
            <% end %> ->
