  <div class="title-container">
    <h1>Edit <%= @user.first %>'s Profile </h1>
  </div>

<%= form_for current_user, html: {multipart: true} do |f| %>
  <div>
    <%= f.label :avatar %>
    <%= f.file_field :avatar %>
  </div>

  <div>
    <%= f.label :first, 'First Name' %>
    <%= f.text_field :first %>
  </div>

   <div>
    <%= f.label :last, 'Last Name' %>
    <%= f.text_field :last %>
  </div>

   <div>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

   <div>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
   <%= f.submit 'Update'%>
   <% end %>
   <%= button_to 'Delete Account', user_path(current_user), method: 'delete' %>