<h1>Signup Page</h1>

<%= form_for @user do |f| %>

<div class="row">
  <form class="col s12">
   <div class="row">
     <div class="input-field col s6">
       <input placeholder='First Name' id="first" type="text"   class="validate">
        <label for=<%= f.text_field :first %></label>
     </div>
       <div class="input-field col s6">
          <input placeholder="Last Name" id="last" type="text" class="validate">
          <label for=<%= f.text_field :last %></label>
       </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
          <%= f.text_field :email %>
       </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
          <%= f.password_field :password %>
        </div>
      </div>
    <%= f.submit 'Sign Up'%>
   <% end %>
    </form>
<div>