<div class="title-container">
 <%= image_tag @user.avatar.url %><h1><%= @user.first %>'s Assignments</h1>
    </div>
<div>

    <% @user.assignments.each do |assignment| %>
        <ol>
            <li>Subject: <%= assignment.course.name %></li> 
            <li>Assignment Name: <%= assignment.name %></li> 
            <li>Due Date: <%= assignment.due.strftime("%m/%d/%Y") %></li>
            <li>Completed?: <%= assignment.completed %></li> 
            <li>Comments/Concerns: <%= assignment.comment %></li> 
            <hr>
        </ol>
    <% end %>
</div>