<div class="title-container">
    <h1><%= @user.first %>'s Assignments</h1>
    <%= image_tag @user.avatar.url(:thumb) %>
</div>
<div class="info">
    <% @user.assignments.each do |assignment| %>
            Subject: <%= assignment.course.name %> <br> 
            Assignment Name: <%= assignment.name %> <br> 
            Due Date: <%= assignment.due.strftime("%m/%d/%Y") %> <br>
            Completed?: <%= assignment.completed %> <br> 
            Comments/Concerns: <%= assignment.comment %> <br> 
            <hr>   
    <% end %>
</div>