<div class="title-container">
    <h1><%= @course.name %> Assignments </h1>
</div>
    
    <% @course.assignments.each do |assignment| %>
    <ol>
       <h3> Student: <%= assignment.user.first %> <%= assignment.user.last %></h3>
       <li><h5>Homework Assignment: <%=  assignment.name %></h5> </li> 
       <li><h5>Due Date: <%= assignment.due.strftime("%m/%d/%Y") %></h5></li>
       <li><h5>Completed: <%= assignment.completed %></h5></li>
        <li><h5> Student Question/Concern: <%= assignment.comment %></h5></li>
                <hr>
    </ol>
    <% end %>

    