<div class="title-container">
    <h1><%= @course.name %> Assignments </h1>
</div>
<table>
  <thead>
    <tr>
      <th>Student</th>
      <th>Assignment</th>
      <th>Due Date</th>
      <th>Completed</th>
      <th>Questions/Comments</th>
      <th colspan="6"></th>
    </tr>
  </thead>
    <tbody> 
    <% @course.assignments.each do |assignment| %>
       <tr> 
          <td> <%= assignment.user.first %> <%= assignment.user.last %></td>
          <td><%= assignment.name %></td>
          <td><%= assignment.due.strftime("%m/%d/%Y") %></td>
          <td><%= assignment.completed %></td>
          <td><%= assignment.comment %> </td>
         <% end %>
        </tr>
    </tbody>
  </table>  
 <hr>
    
    

        
          
           
           

    