    <h1><%= @course.name %> Assignments </h1>
    
    <% @course.assignments.each do |assignment| %>
       <h3><%=  assignment.name %></h3> 
        <p>Due: <%= assignment.due.strftime("%m/%d/%Y") %></p>
         <p> Student's Assignment: <%= assignment.user.first %> <%= assignment.user.last %></p>
         <p> Completed: <%= assignment.completed %></p>
    <hr>
    <% end %>

    