<!DOCTYPE html>
<html>
  <head>
    <title>Textbook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
 <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            
    

<nav class= "deep-orange lighten-4">
    <% if logged_in? %>
        <%=link_to 'Logout', logout_path, method: 'delete'%> 
   <% else %> 
         <%= link_to 'Login', login_path %>  |
         <%=link_to 'Signup', signup_path %>  |
     <% end %>
   </nav>
  <body class ="grey lighten-5">
  <div class="container">    
    <%= yield %>
  
   </div>
   </body>
</html>
